
  
    :root {
        --color-primary: #FF6565;   
        --color-white: #FFFFFF;
        --color-black: #000000;
        --color-dark-grey: #071629;
        --color-grey: #979797;
        --color-light-grey: #D8D8D8;
        --color-radial: #29303D;
        --color-radial: #101929;
    }
     

   
    @media only screen and (max-width: 400px) {
        #header-image {
            max-width: 100%;
            height:auto;
        }

        .text-section {
            display: flex;
            flex-direction: column;
        }
     }

    #header-image {
        background-image: url('headphones_hero_1.jpg');
        width: 100%;
        height: auto;
       
    }

    .header {
        padding: 2rem 0 0;
        justify-content: center;
    }
    .header div {
        display: flex;
       align-items: center;
    }

    .navbar-menu {
        margin:  0 0 0 40rem;
    }
    
       
   a {
    color: var(--color-white);
    text-decoration: none;
   }
   
    
   a:hover {
    background-color: #FF6565;
   }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    
    .section-p {
        margin-top: -20px;
    }

    .section-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        padding-top: 250px ;
        color: var(--color-white);
        text-align: center;
        padding-left: 20px;
    }

    .button {
        background-color: var(--color-primary);
        border: none;
        color: var(--color-white);
        padding: 6px;
        border-radius: 50px;
        font-size: 12px;
        box-shadow: 8px var(--color-black);
       margin-right: auto;
    }

    .section-pp {
        font-size: small;
    }

    .what-we-do-section {
        display:flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
    }



    .icon {
        display: flex;
        justify-content: stretch;
        margin-top: 20px;
        
    }

    .icon-container {
        display:flex;
        flex-direction: row;
        gap: 40px;
        flex-grow: 2;
        text-align: center;
      
    
    }
     
    #result-image {
        background-image: url("headphones_hero_2.jpg");
        width: 100%;
        height: auto;
    }

    .our-result-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        color: #FFFFFF;
    }


    .pentagons {
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        gap: 50px;
        padding-bottom: 30px;
    }   

    
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--color-white);
        padding: 10%;
    }

    .contact {
        margin-left: -150px;
    }

    /* thick black border */
    .item1 {
     border: 1px solid black;
     width: 350%;
    }

    .button-2 {
        background-color: var(--color-primary);
        border: none;
        color: var(--color-white);
        padding: 6px;
        border-radius: 50px;
        font-size: 12px;
        box-shadow: 8px var(--color-black);
    }

    
    .footer {
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid black;
        
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        
    }

    .footer-logo {
        display: flex;
        align-self: auto;
    }
    .fimg {
        margin:  0 0 0 50rem;
        padding-left: 50px;
    }

    .footer-p {
        margin:  0 0 0 27rem;
    }
